.App {
  text-align: center;
  background-color: #fff;
  color: white;
  min-height: 100vh;
}
.header{
  background-color: rgb(49, 10, 10);
  padding: 8px;
}
.footer{
  background-color: black;
}
h1{
 margin: 0; 
}
.movie{
  background-color: aliceblue;
  color: black;
  border: 1px solid gray;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 14px;
}
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}
.movie img{
  height: 220px;
  width: 100%;
}